body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #2F5372;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav {
    margin: 10px 0;
    text-align: center;
}

    nav a {
        color: #333;
        text-decoration: none;
        margin: 0 15px;
        float:left;
    }

        nav a:hover {
            text-decoration: underline;
        }
/* Dropdown Sub-menu */
.dropdown {
    float: left;
    overflow: hidden;
}

    .dropdown .dropbtn {
        cursor: pointer;
        font-size: 16px;
        border: none;
        outline: none;
        color: #333;
        background-color: inherit;
    }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    background: #2F5372;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
.image-container{
    overflow:hidden;
}
.image-container img {
    height: auto;
    width: 100%;
    display: block; /* Removes bottom spacing caused by inline-block */
}